@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color--common__background: #151515;
  --color--common__background-variant: #1B1B1B;
  --color--common__background-light: #282828;

  --color--tranquility__primary: #83DEF0;
  --color--tranquility__contrast: #52DE7E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color--common__background: #151515;
    --color--common__background-variant: #1B1B1B;
    --color--common__background-light: #282828;
    
    --color--tranquility__primary: #83DEF0;
    --color--tranquility__contrast: #52DE7E;
  }
}

body {
  color: var(--color--tranquility__primary);
  background: var(--color--common__background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
