@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--color__primary);
  background: var(--color__background);
}

.img-primary {
  filter: brightness(0) saturate(100%) drop-shadow(0px 1000px 0 hsl(var(--color__primary)));
  transform: translateY(-1000px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
