@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--color__primary);
  background: var(--color__background);
}

.img-primary {
  filter: brightness(0) saturate(100%)
    drop-shadow(0px 1000px 0 hsl(var(--color__primary)));
  transform: translateY(-1000px);
}

.space-grain {
  background-image: url("/sky.jpg");
  background-size: 110%;
  /* filter: invert(78%) sepia(86%) saturate(1517%) hue-rotate(169deg)
    brightness(111%) contrast(88%) blur(4px); */
  opacity: 0.08;
  animation: animatedBackground 100s ease infinite alternate;
}

@keyframes animatedBackground {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
